* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h4,
h6,
p {
  margin-bottom: 0px;
}
/* common css */
/* .bg-green {
  background: linear-gradient(to left, #8e9395, #cfdae3);
} */

.h-100vh {
  height: 100vh;
}

.h-init {
  height: inherit;
}

/* .bg-gold {
  border: 2px solid floralwhite;
  border-radius: 20px;
  background-color: #dfdfdf;
} */

.max-height {
  /* max-height: 600px; */
  height: 100%;
}

.w-2 {
  width: 8px;
}

.scrollable {
  /* height: 600px; */
  overflow-y: auto;
}

/* common css */

.bg-f7 {
  background-color: #fffcf7 !important;
}

.bg-e5 {
  background: #fff4e5;
}

.fs-13 {
  font-size: 13px;
}

.box-shadow-sm {
  box-shadow: 0px 0px 2px #00000040;
}

.active-icon {
  color: black;
  cursor: pointer;
  background-color: #b7b7b752;
}
.inactive-icon {
  color: rgb(161, 161, 161) !important;
  cursor: pointer;
}

/* Custom CSS */
.nav-link:hover,
.nav-link:focus {
  color: black; /* Keeps the color the same as the non-hover state */
  --bs-nav-link-hover-color: initial;
}

/* table */
.table-box-shadow {
  box-shadow: 0px 1px 1px rgba(128, 128, 128, 0.473);
}

.tableContainer {
  margin-top: 50px;
}

.tableContainer table thead tr th {
  color: gray;
  font-size: 12px;
}

.tableContainer table thead tr th,
.tableContainer table tbody tr td {
  padding: 10px;
  text-align: center;
  font-weight: 600;
}

.tableContainer table tbody tr:not(:last-child) {
  font-size: 16px !important;
  border-bottom: 1px solid rgb(221, 221, 221);
}

/* table end */

/* form */
.form-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  z-index: 999;
}

.form-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 90%;
  background-color: #ffffff5e;
  border-radius: 10px;
  overflow: hidden;
  /* backdrop-filter: blur(20px); */
  z-index: 1000;
}

.form-popup input[type="text"],
.form-popup input[type="number"],
.form-popup select,
#date {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #9797974a;
  border-radius: 5px;
  background: #a7a7a733;
}

input:focus,
select:focus,
button:focus {
  outline: none !important;
}

select {
  cursor: pointer;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* select option {
  background-color: rgba(0, 0, 0, 0.2);
} */

.form-popup form input:-webkit-autofill,
.form-popup form input:-webkit-autofill:hover,
.form-popup form input:-webkit-autofill:focus,
.form-popup form input:-webkit-autofill:active {
  -webkit-text-fill-color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.form-popup .btn-close {
  position: absolute;
  top: 20px;
  right: 15px;
  cursor: pointer;
  font-size: 10px;
}
/* form end*/

/* analytics */

.analytics {
  display: flex;
  flex-direction: column;
}

.analytics .title {
  position: absolute;
  left: 19%;
  right: 60%;
  top: 31%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 440px) {
  .form-popup {
    width: 95%;
  }
}
